<%- include('../head') %>
<tr style="background-color: white;">
	<td class="wrapper">
	  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
	    <tr>
	      <td>
	        <h4> Commande annulée ...</h4>
	        <p class="align-center"> Malheureusement, votre commande a été annulée et ne pourra donc pas continuer son processus de livraison. Cela peut-être dû à des <b>informations de commande erronées</b> auquel cas un email d'explication vous sera envoyé sous peu, ou bien à une erreur technique. </p>
	        <p class="align-center"> Si vous avez des <b>réclamations</b> concernant cette annulation, vous êtes libre de nous contacter par retour de mail. </p>
	        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
	          <tbody>
	            <tr>
	              <td align="center">
	                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
	                  <tbody>
	                    <tr>
	                      <td> <a href="https://kitapena.com/contact" target="_blank">Page de contact</a> </td>
	                    </tr>
	                  </tbody>
	                </table>
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </td>
	    </tr>
	  </table>
	</td>
</tr>
<%- include('../foot') %>