<link rel="stylesheet" type="text/css" href="/css/style-footer.css">
<!-- <div class="w-100 divider"></div> -->
<div class="media text-center container">
	<div class="icon col mb-3">
	    <a class="media-link mr-3" href="https://instagram.com/kitap3nas" target="_blank"><i class="fab fa-instagram"></i></a>
	    <a class="media-link" href="/contact"><i class="far fa-envelope"></i></a>
	</div>
</div>
<div class="legal text-center">
    <a class="legal-link" href="/cgu.pdf" target="_blank">Conditions d'utilisation</a>
    <a class="legal-link" href="/mention_legal.pdf" target="_blank">Mentions légales</a>
    <a class="legal-link" href="/cgv.pdf" target="_blank">Conditions générales de vente</a>
</div>
<div class="text-center mt-md-4 mx-3" id="author">
	 <a href="https://instagram.com/armel_rxl" target="_blank"> Copyright 2024 © Gwladys store by <span> Armel Rouxel</span></a>
</div>

<!-- Import Font Awesome -->
<script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>