<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">
        <title>kita pena</title>
    </head>
 
    <body>
    	<header>
            <%- include('navbar') %>
        </header>

        <main class="d-flex justify-content-center pt-5 m-0 mt-3">
    		<div class="col col-md-6 text-center mt-5">
                <div class="row title text-center mb-3">
                    <span class="col"><i class="fas fa-exclamation-triangle mr-2" style="color:orange;"></i> En cours de construction <i class="fas fa-exclamation-triangle ml-2" style="color:orange;"></i></span>
                </div>
                <div class="row description text-center mb-5">
                    <span class="col">Merci pour l'interêt que vous portez à mon travail ! Malheureusement, cette page est toujours en cours de construction et n'est pas encore prête ... 
                        <br/>
                        <br/>
                    <b>Revenez très bientôt !</b></span>
                </div>
                <a href="/" class="row btn btn-cart mb-5" role="button" name="add-cart">Revenir sur le site</a>
	    	</div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>

    <script type="text/javascript">
    </script>

</html>