footer {
	/*background: linear-gradient(#fff9e7, #f2d875);*/
/*	background: rgb(254,86,0);
	background: linear-gradient(0deg, rgba(254,86,0,1) 27%, rgba(255,202,176,1) 74%, rgba(255,255,255,1) 100%);*/
	background-color: var(--footer-bg);
	color: var(--footer-text);
	font-weight: 500;
	
	padding-top: 50px;
	padding-bottom: 50px;
}

.divider {
	height: 1px;
	background: linear-gradient(to right, rgb(0, 0, 0, 0) 5%, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0) 95%);
}

i.payment-logo {
	font-size: 30px;
	margin-left: 5px;
	margin-right: 5px;
	color:black;
}

.media-link i {
	font-size: 30px;
	color: var(--footer-text);;
	border: 2px solid var(--footer-text);;
	border-radius: 50%;
	padding: 15px;

	transition: 0.3s;
}

.media-link i:hover {
	border-radius: 40%;
}

a.legal-link, #author a, #contact span {
	color: var(--footer-text);
	font-size: 13px;
	margin: 8px;
	text-decoration: none;

	transition: 0.1s;
}
a.legal-link:hover, #author a:hover {
	text-decoration: none;
	color: var(--footer-hover);
}

#author span {
	font-weight: 600;
}